.footer {
  align-items: center;
  background: #fcdc36;
  background-color: #ea1d2c;
  bottom: 0;
  box-shadow: 0 -2px 10px #00000040;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: fixed;
  width: 100vw;
}
