body {
  background-image: none;
}

.scroll {
  display: flex;
  gap: 10px;
  overflow: auto;
  width: 100vw;
}

.scroll-child {
  height: 100%;
  text-align: center;
  width: 50%;
}

.scroll-btn {
  /* bottom: 0%;
  position: fixed;
  right: 30%; */
  margin: 1rem;
}

.share-btn {
  margin: 1rem;
}

ol {
  margin: 1rem 2rem;
  width: 90vw;
}

h6 {
  text-align: left;
}
